.button{
    -fx-background-color: #F5FCFF;
    -fx-text-fill: #aa7d5d;
}
.button:hover{
    -fx-background-color: #aa7d5d;
    -fx-text-fill: #F5FCFF;
}

.split-pane-divider {
   -fx-border-color: #aa7d5d;
   -fx-background-color: #aa7d5d;
}